* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: #a9a9a9;
}

a {
  text-decoration: none;
  color: #0bb3c9;

  &:hover {
    color: #fff;
    transition: 0.4s;
  }
}

ul {
  list-style: none;
}

input {
  border: none;
  outline: none;
}
